[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
twisted = "==19.7.0"
pipenv-to-requirements = "*"
crossbar = "==20.8.1"
twine = "*"
cbor = "*"
msgpack = "*"

[packages]
certifi = "*"
six = "*"
websocket_client = "*"
cbor2 = "*"

[requires]
python_version = "3"
